@font-face {
    font-family: HYPER;
    src: url(/src/assets/fonts/hyper.ttf);
}

* {
    font-family: "HYPER", system-ui;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
    background: black;

    canvas {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        scale: var(--scale);
        image-rendering: pixelated;
    }

    a {
        text-decoration: none;

        &:hover {
            color: dodgerblue;
        }
    }

    .ui-full {
        z-index: 999;
        width: 100%;
        padding: 1rem 2rem;
        height: 0;
        position: absolute;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0, .3);
            z-index: 1000;
        }

        .menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1001;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;

            .container {
                max-width: 700px;
                width: 100%;
                margin: 0 auto;
                border: 3px double dodgerblue;
                border-radius: 1px;

                > * {

                    &:focus {
                        outline: none;
                    }

                    &:not(.line) {
                        font-size: .9rem;
                        width: 100%;
                        padding: 10px 0;
                        display: block;

                        &:not(.label) {
                            user-select: none;
                            cursor: pointer;

                            @media (hover: hover) and (pointer: fine) {
                                &:focus {
                                    background-color: dodgerblue;
                                }
                            }

                            @media (hover: none) {
                                &:active {
                                    background-color: dodgerblue;
                                }
                            }
                        }
                    }
                }

                .label, .switch, .slider, .selection {
                    height: 47px;
                    overflow: hidden;
                }

                .switch, .slider, .selection {
                    display: grid;
                    grid-template-columns: 40% 40%;
                    column-gap: 10px;
                    justify-content: center;
                }


                .line {
                    border-bottom: 3px double dodgerblue;
                    width: 100%;
                    display: block;
                }


                .button, .label {
                    background: none;
                    border: none;
                    margin: 0 auto;
                }

                .switch > input[type="checkbox"] + span + span:after {
                    color: white;
                    content: 'off';
                    display: inline-block;
                }

                .switch > input[type="checkbox"]:checked + span + span:after {
                    content: 'on';
                    color: orangered;
                }

                .slider {
                    > span:first-child:after {
                        content: ':';
                    }

                    > div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        > span {
                            min-width: 30px;
                            color: orangered;
                        }

                        > div  {
                            display: flex;
                            align-items: center;

                            > span {
                                height: 15px;
                                width: 5px;
                                display: block;
                                background-color: white;

                                &:not(:first-child) {
                                    margin-left: 5px;
                                }

                                &.enabled {
                                    background-color: orangered;
                                }
                            }
                        }
                    }
                }

                .selection {
                    > span:first-child:after {
                        content: ':';
                    }

                    > div {
                        display: flex;

                        > span {
                            min-width: 30px;
                            color: orangered;
                        }

                        > div {
                            flex-grow: 1;
                            display: inline-block;

                            > span {
                                display: none;

                                &.enabled {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }

        & > button, & > .d-pad, & > span {
            --scale: 1;
            position: absolute;
            display: inline-block;
        }

        & > button {
            padding: 0;
            border: none;
            background-color: transparent;
            width: calc(40px * var(--scale));
            height: calc(40px * var(--scale));
            background-size: cover;
            image-rendering: pixelated;
            cursor: pointer;

            img {
                object-fit: cover;
                object-position: top;
                width: calc(40px * var(--scale));
                height: calc(40px * var(--scale));
            }

            &:active img, &.active img {
                object-position: bottom;
            }
        }

        & > .d-pad {
            width: calc(100px * var(--scale));
            height: calc(100px * var(--scale));

            button {
                padding: 0;
                background-color: transparent;
                border: none;
                width: calc(40px * var(--scale));
                height: calc(40px * var(--scale));
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;

                img {
                    image-rendering: pixelated;
                    width: calc(40px * var(--scale));
                    height: calc(40px * var(--scale));
                    object-position: top;
                    object-fit: cover;
                }

                &.active img {
                    object-position: bottom;
                }

                &:nth-child(2) {
                    rotate: -90deg;
                    margin: auto 0;
                    bottom: 0;
                }

                &:nth-child(3) {
                    rotate: 90deg;
                    margin: auto 0;
                    bottom: 0;
                    left: unset;
                }

                &:last-child {
                    rotate: 180deg;
                    margin: 0 auto;
                    bottom: 0;
                    top: unset;
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}
