@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;

    canvas {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    a {
        text-decoration: none;

        &:hover {
            color: dodgerblue;
        }
    }

    .ui-top, .ui-full, .ui-buttons {
        z-index: 999;
        position: absolute;
    }

    .ui-top, .ui-full {
        left: 0;
        width: 100%;
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    .ui-top {
        padding-right: 0;
        display: flex;
        top: 0;

        .info {
            flex-grow: 1;
            font-size: 14px;
        }

        .pause-button {
            z-index: 1000;
            cursor: pointer;
            position: relative;

            img {
                position: absolute;
                left: -100px;
                top: -1rem;
                opacity: .3;
                filter: invert(1);
                height: 100px;
                width: 100px;
            }
        }
    }

    .ui-full {
        top: 0;
        height: 0;

        button, label {
            display: block;
            background: none;
            border: none;
            margin: 0 auto;
            padding: 5px;
            font-size: 14px;

            &:hover {
                color: dodgerblue;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: rgba(0,0,0, .3);
        }
    }

    .ui-buttons {
        margin: auto;
        left: 0;
        right: 0;
        bottom: 200px;
        width: 0;
        height: 0;

        .buttons-container {
            position: relative;

            .button-up, .button-down, .button-left, .button-right {
                position: absolute;
                cursor: pointer;
            }

            .button-up {
                rotate: -90deg;
                top: -80px;
                left: -46px;
            }

            .button-down {
                rotate: 90deg;
                top: 80px;
                left: -46px;
            }

            .button-left {
                rotate: 180deg;
                left: -120px;
            }

            .button-right {
                right: -126px;
            }

            img {
                filter: invert(1);
                opacity: .3;
                height: 100px;
                width: 100px;
            }
        }
    }
}

.hidden {
    display: none !important;
}
